@font-face {
  font-family: "Monserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background: #F2F4F8;
}
/* .contenedor1{
    
    padding: 0%;
    margin-top: 80px;
}
.contenedor2{
    
    min-width: 66%;
    padding:0%;
}
.contenedor3{
    
    align-content: center;
    min-height: 250px;
    margin-top: 80px;
}
.contenedor4{
    
    min-width: 100%;
    text-align: center;
}
.contenedor5{
    
    min-width: 100%;
    text-align: center;
    background: #415a80;
} */

header nav {
   background: #415a80;
   box-shadow: none;
}
