header nav {
   box-shadow: none;
   background-color: #2D394B!important;

}

.color-txt {
   color:  #2D394B!important;
}
.color-bg-header {
   background-color:  #2D394B!important;
}
.color-bg-2 {
   background: #81a3d611 !important;
   box-shadow: 2px 2px 5px #2d394b3a;
}
.color-bg-body {
   background-color: #F2F4F8 !important;
}
.color-btn {
   color: #EBB957 !important;
}
.color-bg-btn {
   border-color:#9E721B !important ;
}